.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);

	max-width: var(--container-width);
	width: 100%;
	text-align: center;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}
