.header {

    &__top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 67px;
        background-color: #fff;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__locations {
        display: flex;
    }

    &__left {
        display: flex;
        gap: 35px;

        &-mobile {
            display: none;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__whatsapp {
        width: 28px;
        height: 28px;
        margin-right: 9px;
    }

    &__number {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #364844;
    }

    &__btn {
        &-mobile {
            display: none;
        }
    }

    &__menu {
        height: 43px;
        background-color: #1fa181;
        position: static;
    }
}

.location {

    &__text {
        font-size: 14px;
        line-height: 125%;

        span { 
            color: #868686;
            display: block;
            text-align: left;
        }
    }
    
    &__img {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
}

.menu {

    &__btn {
        display: none;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__list-item {
        padding: 10px 0 9px;
    }

    &__list-link {
        color: #fff;
    }
}



@media (max-width: 767px) {
    .logo {
        width: 62px;
        height: 19px;
    }

    .location{
        display: none;
    }

    .header {
        &__top {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            height: 67px;
            background-color: #fff;
        }
    
        &__locations {
            display: none;
        }
    
        &__left {
            display: none;

            &-mobile {
                display: block;
            }
        }
    
        &__contact {
            display: block;
        }
    
        &__number-mobile {
            font-weight: 700;
            font-size: 16px;
            text-align: right;
            color: #364844;
        }

        &__city-mobile{
            font-size: 13px;
            text-align: right;
            color: #364844;
        }
    
        &__btn {
            display: none;

            &-mobile{
                display: inline-block;
                margin-top: 39px;
                font-size: 14px;
                font-weight: 700;
                line-height: 150%;
                color: #1fa181;
                background: #f6f6f6;

                &:hover{
                    color: #fff;
                }
            }
        }
    
        &__menu {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
    .menu{
        
        &__btn {
            display: block;
            width: 37px;
            height: 26px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            border: none;
            background-color: transparent;
            margin-right: 43px;

            span {
                height: 4px;
                background-color: #1fa181;
                width: 100%; 
            }
        }

        &__list-item {
            padding: 0;
        }

        &__list {
            &--active{
                position: fixed;
                backdrop-filter: blur(4px);
                background: rgba(69, 146, 127, 0.9);
                z-index: 50;
                top: 65px;
                left: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                row-gap: 10px;    
                padding: 48px 0 39px 19px;
            }
        }
    }

    .menu__btn.open span:nth-child(1) {
        width: 37px;
        transform: rotate(-45deg) translate(-10px, 4px);
    }

    .menu__btn.open span:nth-child(2) {
        opacity: 0;
    }

    .menu__btn.open span:nth-child(3) {
        width: 37px;
        transform: rotate(45deg) translate(-11px, -6px);
    }
}
